entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run API"

[[workflows.workflow]]
name = "Run API"
author = 12732009
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Dev"
author = 12732009
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "nodemon index.js"

[[workflows.workflow]]
name = "Test"
author = 12732009
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm test"

[[ports]]
localPort = 3000
externalPort = 80

[auth]
pageEnabled = true
buttonEnabled = false
